.login-container {
  gap: 10px;
  display: grid;
  place-items: center;
  border-radius: 40px;
  background-color: #d2d2d2;
  margin: 20px;
  padding: 50px;
}

.login-root {
  background-color:#7d95ac;
  height: 100vh;
  display: grid;
  place-items: center;
}